
@{
    ViewData["Title"] = "Request Details";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<br />
    <section>
        <h2 class="text-center text-decoration-underline">Request Details</h2> <br />
        <p>Request ID: @Model.ReqId</p>
        <p>Requestey By: @Model.Res.ResName</p>
        <p>Request Time: @Model.ReqTime</p>
        <p>Max Preserve Time: @Model.PreserveTime</p>
        <p>Assigned Employee: @Model.Emp.EmpName</p>
        <p>Request Status: @Model.Status</p>
        <p>Collection Time: @Model.CollectTime</p>
        <p>Completion Time: @Model.CompleteTime</p>

    </section>

    <h3>Foods in this Request:</h3>

    <table class="table table-striped table-secondary">
        <thead>
            <tr>
                <th scope="col">Food Id</th>
                <th scope="col">Food Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model.Foods)
            {
                <tr>
                    <td>@f.FoodId</td>
                    <td>@f.FoodName</td>
                    <td>@f.Quantity</td>
                </tr>
            }
        </tbody>
    </table>


